# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
PyAutoEnv/

# Build / packaging
build/
dist/
*.egg-info/

# Other
.sonar/
/py_auto_test.egg-info/ 
/build/
.coverage
